/* Navbar Section */
.my-navbar{
    background-color: white !important;
    border-bottom: 1px solid #ced4da;
}
.navbar-brand{
    color: #965EFB !important;
    font-weight: 500;
    font-size: 28px;
}
.lang,.my-btn,
.profile{
    margin: 10px;
}
.my-lang{
    display: none;
    width: 20%;
}
.my-btn{
    background-color: white;
     border: 1px solid #ced4da;
      border-radius: 5px;
      width: 170px;
}
/* TODO fonts of navbar */
/* end of navbar */


/* Main Section */
#first-section,
#main-section,
#last-section,
#first-row>div,
#second-row>div{
    vertical-align: top;
    display: inline-block;
}
#first-row,
#second-row,
#third-row,
#fourth-row{
    margin: 20px;
}


#first-section{
    width: 19%;
    margin-top: 20px;
}
#main-section{
    width: 50%;
    margin-top: 20px;
}
#last-section{
    width: 30%;
}
#review-profile{

    height: 120px;
    width: 120px;
    border-radius: 50%;
    float: right;
}
.fa-soundcloud{
    background:none;
    border:none;
    font-size: 40px;
    margin: 10px;
    
}
.fa-pause-circle{
    font-size: 20px;
}
.main-profile-btn-play,
.main-profile-btn{
    border:1px solid black;
    background-color: white;
    border-radius: 15px;
    height: 40px;
    margin-top: 10px;
}
.main-profile-btn-play{
    margin-left: 15px;
    margin-right: 10px;
}
.main-profile-btn{
    font-size: 16px;
    padding: 20px;
}
.review-main-span-stats{
    font-size: 18px;
}
.review-main-stats{
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
}
#second-row>div{
    margin: 10px;
    
    margin-bottom: 30px;
}
#second-row{
    border-bottom: 1px solid #ced4da;
}
.review-main-desc > *{
    display: inline-block;
}
.review-main-desc>i{
    font-size: 28px;
    color:#707070;
    margin: 5px;
    width: 40px;
    margin-right: 20px;
}

.review-main-desc>span{
    font-size: 14px;
    position: relative;
    top:-5px;
    color:#707070;
}
#review-main-desc-para{
    margin-top: 20px;
}

#review-main-desc-para>p{
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    color:#707070;
}
#my-caurosel > img{
    margin-right: 15px;
    border-radius: 7px;
}
#my-caurosel{
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 30px;

}
#my-caurosel::-webkit-scrollbar { width: 0 !important }
#my-caurosel{ overflow: -moz-scrollbars-none; }
#my-caurosel{ -ms-overflow-style: none; }


/* End of Main Section */
/* Last Section */

#last-div{
    width: 250px;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
}
#last-div>button{
    margin: 0 auto;
    display: block;
}
#last-div-btn{
    width: 90%;
    background: linear-gradient(180deg, #6B17FF 0%, #7F11F6 100%);
    border:none;
    color: white;
    padding: 5px;
    font-size: 20px;
}
#last-div-tag>i,
.unique-star{
    margin-right: 2px !important;
}
#last-div-header>h2{
    display:inline-block ;
}
.fa-star{
    color: #7F11F6;
}
.fa-star + h2{
    display: inline-block;
    font-size: 14px;
}
.fa-tag{
    transform: rotate(95deg);
    color: #7F11F6;
    position: relative;
    top:-20px;
}
#last-div-tag{
    color: grey;
    font-size: 16px;
}
#last-div-tag>i{
    margin-right: 2px;
}
#last-div-tag>p{
    text-align: justify;
    text-justify: inter-word;
    display: inline-block;
    width: 90%;
}
#local-tag{
    color: #7F11F6;
    font-size: 14px;
}

/* Ratings section */
#ratings{
    width: 60%;
    margin-left:10%;
    border-top: 1px solid #ced4da;
}
#ratings>div
{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.progress{
    height: 7px;
    margin-top: 15px;
}
.progress-bar{
    color: transparent;
    background-color: #7F11F6;
}
/* Comments Section */
#comments{
    width: 60%;
    margin-left:10%;
    border-bottom: 1px solid #707070;
}
.user-name{
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    margin-right:50px;
    font-size: 24px;
}
.user-stars{
    display: inline-block;
}
.user-stars>i{
    border:1px dashed cyan;
    padding: 5px;
}
#comment-date{
    font-weight: 300;
    color: #707070;
    font-size: 24px;
}
.three,.zero{
    color:#7F11F6;
    font-size: 28px;
}
.user-para{
    margin: 0 auto;
}
.user-para>p{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    color: #707070;
}
.reply{
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6);
    border-radius: 8px;

}
.user-head{
    margin: 10px;
    margin-left: 20px;
}
.user-inner-para{
    margin: 10px;
}
.reply >p{
    font-size: 20px;
}
.com-user{
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.large-button{
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 20px;
}
/* queries */
#queries{
    width: 60%;
    margin-left:10%;
}
.acc-para{
    text-align: justify;
    text-justify: inter-word;
}

/* Footer */
.fot-link{
    color: black !important;
    text-decoration: none;
}
.fot-head{
    font-weight: 100;
    color:rgb(56, 48, 48);
    margin-top: 20px;
}
#my-last-section{
    display :none;
}
.spinner-border{
    visibility: hidden;
}
#my-spinner{
    display: flex;
    justify-content: center;
}